<label *ngIf="label">{{label}}</label>
<div class="mt-1">
    <select class="form-select appearance-none
        block
        w-full
        px-3
        py-2
        text-base
        font-normal
        text-gray-700
        bg-white bg-clip-padding bg-no-repeat
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
        <option selected>Select <span class="lowercase" *ngIf="label">{{label}}</span></option>
        <option *ngFor="let option of options" [value]="option.value">{{option.text}}</option>
    </select>
</div>