<div [className]="tabsStyle">
    <ul>
        <li *ngFor="let tab of tabs" (click)="selectTab(tab)" [class.active]="tab.active">
            <div class="tab-close">{{ tab.title }}</div>
        </li>
    </ul>
</div>
<ng-content></ng-content>