div {
  padding: 10px 0;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #eaecf7;
}
li {
  width: fit-content;
  padding: 0 15px;
  height: 100%;
  cursor: pointer;
  text-align: center;
}
.active {
  color: #009688;
  font-weight: 500;
  border-bottom: 2px solid #009688;
}
