$custom-icon-size: 16px;

.max-w-filter-checkbox {
  max-width: 305px !important;
}

.custom-icon-size {
  height: $custom-icon-size;
  width: $custom-icon-size;
  min-height: $custom-icon-size;
  min-height: $custom-icon-size;
}

.ml-minus-8px {
  margin-left: -8px;
}
