<div class="flex flex-col flex-auto min-w-0">
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <!-- CONTENT GOES HERE -->
        <div class="h-400 min-h-400 max-h-400 rounded-2xl bg-white shadow">
            <app-tabs class="tabbed-summary__tabs">
                <app-tab tabTitle="Transaction List">

                </app-tab>
                <app-tab tabTitle="Invoices">

                </app-tab>

                <app-tab tabTitle="Payments">

                </app-tab>

                <app-tab tabTitle="Credit Notes">

                </app-tab>

                <app-tab tabTitle="Bond Payments">

                </app-tab>

                <app-tab tabTitle="Age Debtors" [active]="true">
                    <div class="flex flex-wrap rounded-xl bg-gray-100 p-4 mx-4 mt-1">
                        <div class="w-full sm:w-full md:w-1/2 lg:w-1/2 xl:w-1/2 mb-4">
                            <div class="flex flex-wrap">
                                <app-select class="w-1/2 px-2" [label]="'Child'" [options]="childs"></app-select>

                                <app-select class="w-1/2 px-2" [label]="'Payee'" [options]="childs"></app-select>
                            </div>
                        </div>
                        <div class="w-full sm:w-full md:w-1/2 lg:w-1/2 xl:w-1/2 mb-4">
                            <div class="flex flex-wrap">
                                <div class="pl-4 mt-5 md:w-full lg:w-1/2 max-w-md max-w-filter-checkbox">
                                    <app-checkbox [label]="'Include those parents who are in credit'">
                                    </app-checkbox>
                                </div>
                                <div class="pl-3 mt-5">
                                    <button type="button"
                                        class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium 
                                rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Search</button>

                                    <button type="button"
                                        class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 
                                font-medium rounded-full text-sm w-10 h-10 mr-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
                                        <mat-icon class="custom-icon-size text-white"
                                            svgIcon="heroicons_outline:refresh">
                                        </mat-icon>
                                    </button>

                                    <button type="button"
                                        class="focus:outline-none text-black bg-gray-300 hover:bg-gray-800 focus:ring-4 focus:ring-gray-300 
                                font-medium rounded-full text-sm w-10 h-10 dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-900">
                                        <mat-icon class="custom-icon-size text-black"
                                            svgIcon="heroicons_outline:chevron-down">
                                        </mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-baseline flex-wrap rounded-xl py-4 mx-4 mt-1">
                        <div class="flex items-center mr-2">
                            <app-checkbox>
                            </app-checkbox>
                            <mat-icon class="custom-icon-size text-black font-bold ml-minus-8px"
                                svgIcon="heroicons_outline:chevron-down">
                            </mat-icon>
                        </div>
                        <button type="button"
                            class="focus:outline-none text-black bg-gray-100 hover:bg-gray-800 focus:ring-4 focus:ring-gray-300 rounded-lg 
                            text-sm px-3 py-2.5 text-center inline-flex items-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-900 mr-2 mb-2">
                            <mat-icon class="custom-icon-size" svgIcon="heroicons_outline:mail"></mat-icon>
                            Email
                        </button>
                        <button type="button"
                            class="focus:outline-none text-black bg-gray-100 hover:bg-gray-800 focus:ring-4 focus:ring-gray-300 rounded-lg 
                            text-sm px-3 py-2.5 text-center inline-flex items-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-900 mr-2 mb-2">
                            <mat-icon class="custom-icon-size" svgIcon="heroicons_outline:printer"></mat-icon>
                            Print
                        </button>
                        <button type="button"
                            class="focus:outline-none text-black bg-gray-100 hover:bg-gray-800 focus:ring-4 focus:ring-gray-300 rounded-lg 
                            text-sm px-3 py-2.5 text-center inline-flex items-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-900 mr-2 mb-2">
                            <mat-icon class="custom-icon-size" svgIcon="mat_outline:10k"></mat-icon>
                            PDF
                        </button>
                    </div>
                    <div>
                        <app-table></app-table>
                    </div>
                </app-tab>
            </app-tabs>
        </div>
    </div>
</div>